<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shikhvaleeva.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=DESKTOP-J3F0GHQ\SQLEXPRESS;Initial Catalog=Shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>